<!DOCTYPE html>
<html>
<head>
  <title>FirstApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<a href = "index.html.erb"> Index </a>
<a href = "about.html.erb"> About </a>
<a href = "help.html.erb"> Help </a>
<%= yield %>

</body>
</html>
